# Testing the data retriever

In [3]:
import sys
sys.path.append('/home/sedroc/Bachelor/FEPCEU')
from data.data_retriever import Dataretreiver

In [2]:
%load_ext autoreload
%autoreload 2

In [32]:
data = Dataretreiver()
data.combined.head()

/home/sedroc/Bachelor/FEPCEU/data/data_retriever.py:119: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df = df.loc[~df.index.duplicated(keep='first')]
/home/sedroc/Bachelor/FEPCEU/data/data_retriever.py:120: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.sort_index(inplace=True)
/home/sedroc/Bachelor/FEPCEU/data/data_retriever.py:129: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  start_date = df.index.min().replace(hour=0, minute=0, second=0)  # Start of the first day

,sun_area_1,sun_area_10,sun_area_11,sun_area_12,sun_area_13,sun_area_14,sun_area_15,sun_area_16,sun_area_17,sun_area_18,...,temp_area_38,temp_area_39,temp_area_4,temp_area_40,temp_area_5,temp_area_6,temp_area_7,temp_area_8,temp_area_9,price
2024-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.7,1.0,7.5,0.8,5.1,6.9,6.3,6.7,6.3,126.660004
2024-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.8,1.2,7.7,0.8,4.2,7.3,6.4,6.5,6.5,209.779999
2024-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.9,1.1,7.7,0.7,4.2,7.1,6.5,6.3,6.6,198.740005
2024-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.9,0.9,7.4,0.8,4.4,7.2,6.4,6.1,6.6,30.860001
2024-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,1.0,7.4,0.3,4.4,7.1,6.5,6.1,6.5,-0.220000

In [29]:
data.wind_df.head()

,Area_1,Area_10,Area_11,Area_12,Area_13,Area_14,Area_15,Area_16,Area_17,Area_18,...,Area_37,Area_38,Area_39,Area_4,Area_40,Area_5,Area_6,Area_7,Area_8,Area_9
time,,,,,,,,,,,,,,,,,,,,,
2024-01-01 00:00:00,2.73,7.12,1.33,1.75,1.35,4.91,9.51,0.37,1.64,0.38,...,0.54,7.22,12.42,4.0,13.04,3.61,2.42,4.73,2.62,4.81
2024-01-01 01:00:00,4.08,6.46,2.14,1.74,2.33,4.53,7.97,0.78,1.68,1.16,...,1.18,5.13,11.31,5.4,12.59,6.93,3.16,4.02,3.27,5.25
2024-01-01 02:00:00,5.43,5.79,2.95,1.74,3.31,4.15,6.44,1.19,1.71,1.95,...,1.82,3.04,10.20,6.8,12.15,10.26,3.91,3.31,3.91,5.69
2024-01-01 03:00:00,6.78,5.13,3.76,1.73,4.29,3.77,4.90,1.60,1.75,2.73,...,2.46,0.95,9.09,8.2,11.70,13.58,4.65,2.60,4.56,6.13
2024-01-01 04:00:00,5.10,7.00,3.87,1.47,4.10,5.15,5.53,2.49,1.59,3.21,...,2.05,1.04,8.44,8.7,10.86,16.48,4.20,2.04,4.77,7.21

In [24]:
data.sun_df.head()

,time,Area_1,Area_10,Area_11,Area_12,Area_13,Area_14,Area_15,Area_16,Area_17,...,Area_37,Area_38,Area_39,Area_4,Area_40,Area_5,Area_6,Area_7,Area_8,Area_9
0,2024-01-01 00:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-01-01 01:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-01-01 02:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-01-01 03:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-01-01 04:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
data.temp_df.head()

,time,Area_1,Area_10,Area_11,Area_12,Area_13,Area_14,Area_15,Area_16,Area_17,...,Area_37,Area_38,Area_39,Area_4,Area_40,Area_5,Area_6,Area_7,Area_8,Area_9
0,2024-01-01 00:00:00+00:00,8.2,5.8,6.2,6.3,5.6,4.8,5.5,5.8,6.4,...,4.7,3.7,1.0,7.5,0.8,5.1,6.9,6.3,6.7,6.3
1,2024-01-01 01:00:00+00:00,8.2,5.7,6.0,6.0,5.7,4.5,5.6,5.8,6.2,...,4.8,3.8,1.2,7.7,0.8,4.2,7.3,6.4,6.5,6.5
2,2024-01-01 02:00:00+00:00,8.0,5.8,5.7,5.8,5.7,4.6,5.6,5.7,6.0,...,5.0,3.9,1.1,7.7,0.7,4.2,7.1,6.5,6.3,6.6
3,2024-01-01 03:00:00+00:00,7.7,6.0,5.9,5.6,5.6,4.7,5.9,5.4,5.7,...,4.7,3.9,0.9,7.4,0.8,4.4,7.2,6.4,6.1,6.6
4,2024-01-01 04:00:00+00:00,7.5,4.1,6.1,5.7,5.5,4.9,5.8,5.2,5.6,...,4.2,4.0,1.0,7.4,0.3,4.4,7.1,6.5,6.1,6.5